# ---------- ENV ----------
backend/.env


# ---------- PYTHON ----------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ---------- NODE ----------
node_modules/
dist/
build/

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/
# ---------- FRONTEND ----------
frontend/node_modules/

# ---------- FLASK INSTANCE / DB ----------
instance/

# ---------- USER UPLOADS ----------
backend/static/profile_pics/